@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);body {
  background-color: pink !important;
}

.titre {
  text-align: center;
  color: purple;
}

.form {
  text-align: center;
  border: 3px purple solid;
  margin: auto;
  padding: 2%;
  width: 50%;
}

.formu {
  text-align: center;

}

a {
  text-decoration: none;
}

a:visited,
a:link,
.mention a:hover {
  color: purple;
}
